.elementor-kit-829 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-79d633a3: #F7F7F7;
    --e-global-color-868b7b4: #DDDDDD;
    --e-global-color-76fe6e01: #FFF;
    --e-global-color-71c0490: #000000;
    --e-global-color-c104b86: #25836C;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-bf9eb53-font-size: 14px;
    --e-global-typography-bf9eb53-font-weight: 600;
    --e-global-typography-bf9eb53-line-height: 1.5em;
    --e-global-typography-bf9eb53-letter-spacing: 0px;
    word-spacing: 0em;
    color: #595959;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
}

.elementor-kit-829 p {
    margin-bottom: 20px;
}

.elementor-kit-829 a {
    color: #25836C;
    font-weight: 700;
}

.elementor-kit-829 input:not([type="button"]):not([type="submit"]),.elementor-kit-829 textarea,.elementor-kit-829 .elementor-field-textual {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #595959;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DDDDDD;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.e-container {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-element {
    --widgets-spacing: 10px;
}

@media(max-width: 1024px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width:1024px;
    }

    .e-container {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width:767px;
    }

    .e-container {
        --container-max-width: 767px;
    }
}